.news {
    width: 100%;
    height: 749px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.card {
    width: 643px;
    height: 443px;
    border-radius: 10px;
    background: #DFE9F4;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3px;

}

.title {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #054C73;
}

.description {
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    color: #333;
    margin-top: 20px;
}