.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
}

.navbar{
    background-color: #fff;
    color: #333;
    height: 122px;
}

.logo{
    font-size: 34px;
    font-weight: 700;
    color: #054C73;
}

.navLinks{
    display: flex;
    gap: 65px;
    font-weight: 600;
    font-size: 14px;
}