.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    background: #F2F5FF;
    height: 150px;
}

.infoCard {
    display: flex;
    gap: 30px;
}

.infoTitle {
    font-weight: 600;
}

.infoIcon {
    width: 55px;
    height: 55px;
}