.collection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collectionTitle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.collectionDescription {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #666;
}

.collectionImages {
    display: flex;
    margin-top: 50px;
    align-items: end;
    justify-content: space-between;
}

.collectionImages img {
    width: 30%;
}

.collectionImages>img:first-child {
    border-top-left-radius: 120px;
}

.collectionImages img:nth-child(2) {
    margin-bottom: 5%;
}

.imageWithOverlay {
    width: 30%;
    position: relative;
    display: inline-block;
}

.imageWithOverlay img:first-child {
    display: block;
    border-bottom-right-radius: 120px;
    width: 100%;
}

.overlay {
    position: absolute;
    right: 35%;
    top: 0;
}