.container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer {
  background: #03344F;
}

.footerLeft {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.footerTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footerSubtitle {
  font-size: 24px;
  font-weight: 700;
}

.footerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.footerRight {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerImages {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.footerImg {
  width: 23%;
  object-fit: cover;
  border-radius: 3px;
  background: #fff;
}